#registration{
  font-size: 17px;
  width: 500px;
  height: 500px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 25px 200px;
  color: #d93b3b;
  background-color:aqua;
  border: none;
  border-radius: 5px;
  margin: 0 0 0 30%;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  top: 10%;
  right: 20%;
  animation-name: example;
  animation-duration: 4s;
}
input{
    background-color: rgbrgb(232, 244, 244);
    width: 500px;
}
@keyframes example{
  0% {background-color: aqua;}
  25% {background-color: rgb(117, 90, 227);}
  50% {background-color: rgb(120, 21, 201);}
  100% {background-color: aqua;}
}
